.container {
    position: relative;
    color: white;
    height: 400;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-left {
    position: absolute;
    bottom: 8px;
    top: 16px
}

.top-right {
    position: absolute;
    bottom: 8px;
    top: 18px;
    float: right;
}