    #header-background {
        background: url(pictures/code3.jpg);
        background-color: white;
        background-size: 100%;
        height: 400px;
        border: 2px;
        background-repeat: none;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.6em;
    }
    
    .header-color {
        color: rgb(255, 255, 255);
        text-shadow: 5px 5px 4px rgb(0, 0, 0);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    .navbar ul {
        list-style-type: none;
        background: rgb(58, 58, 58);
        padding: 0;
        margin: 0;
        text-align: center;
    }
    
    .navbar li {
        display: inline-block;
        padding: 0;
    }
    
    .navbar a {
        text-decoration: none;
        color: aliceblue;
        width: 100px;
        display: block;
        padding: 25px 20px;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
    }
    
    .navbar a:hover {
        background: rgb(120, 119, 119);
    }
    
    body {
        margin: 0;
    }
    
    .container-top-intro {
        line-height: 1.15;
        font-family: museo-sans;
        box-sizing: border-box;
        max-width: 1270px;
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
        margin-right: auto;
        margin-left: 40px;
        position: relative;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    
    .home-intro-top-text {
        line-height: 1.15;
        font-family: museo-sans;
        box-sizing: border-box;
        position: relative;
        top: 0;
        left: 52%;
        width: 47%;
    }
    
    .support-title {
        line-height: 1.15;
        font-family: museo-sans;
        box-sizing: border-box;
        color: #00accd;
        font-weight: 500;
        margin: 0;
        font-size: 16px;
        text-transform: uppercase;
    }
    
    .section-title {
        font-family: museo-sans;
        box-sizing: border-box;
        font-weight: 300;
        margin: 10px 0 40px;
        line-height: 1;
        font-size: 38px;
        color: #5b4084;
    }
    
    .support-text-top {
        font-family: museo-sans;
        box-sizing: border-box;
        line-height: 1.5;
        margin-bottom: 20px;
        font-weight: 300;
        color: #6f7073;
    }
    
    .button {
        line-height: 1.15;
        font-family: museo-sans;
        box-sizing: border-box;
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        background-color: #a44082;
        color: #FFF;
        font-size: 16px;
        border-radius: 20px;
        text-align: center;
        margin: 20px 0;
        padding: 10px 30px;
        margin-bottom: 0;
    }
    
    .happycustomerdiv {
        line-height: 1.15;
        font-family: museo-sans;
        box-sizing: border-box;
        border-style: none;
        width: 70%;
        height: 50%;
        object-fit: cover;
        margin-top: -12%;
    }
    
    .happycustomerimg {
        line-height: 1.15;
        font-family: museo-sans;
        box-sizing: border-box;
        border-style: none;
        width: 70%;
        height: 50%;
        object-fit: cover;
        margin-top: -12%;
    }
    
    .container-middle-intro {
        line-height: 1.15;
        font-family: museo-sans;
        box-sizing: border-box;
        max-width: 1270px;
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
        margin-right: auto;
        margin-left: auto;
        position: relative;
        margin-bottom: 200px;
    }
    
    .support-title-midle-intro {
        line-height: 1.15;
        font-family: museo-sans;
        box-sizing: border-box;
        color: #00accd;
        font-weight: 500;
        margin: 0;
        font-size: 16px;
        text-transform: uppercase;
    }
    
    .support-title-middle {
        font-family: museo-sans;
        box-sizing: border-box;
        font-weight: 300;
        margin: 10px 0 40px;
        line-height: 1;
        font-size: 38px;
        color: #5b4084;
    }
    
    .support-text-middle {
        font-family: museo-sans;
        box-sizing: border-box;
        line-height: 1.5;
        margin-bottom: 20px;
        font-weight: 300;
        color: #6f7073;
    }
    
    .middle-content-img {
        line-height: 1.15;
        font-family: museo-sans;
        box-sizing: border-box;
        border-style: none;
        width: 70%;
        height: 50%;
        object-fit: cover;
        margin-top: -15%;
        float: right;
    }
    
    .middle-image {
        line-height: 1.15;
        font-family: museo-sans;
        box-sizing: border-box;
        border-style: none;
        width: 70%;
        height: 50%;
        object-fit: cover;
        margin-top: auto;
        float: right;
    }
    
    .whatweofferbtn {
        line-height: 1.15;
        font-family: museo-sans;
        box-sizing: border-box;
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        background-color: #a44082;
        color: #FFF;
        font-size: 16px;
        border-radius: 20px;
        text-align: center;
        margin: 20px 0;
        padding: 10px 30px;
        margin-bottom: 0;
    }
    
    .container-bottom-intro {
        line-height: 1.15;
        font-family: museo-sans;
        box-sizing: border-box;
        max-width: 1270px;
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
        margin-right: auto;
        margin-left: 40px;
        position: relative;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    
    .home-intro-bottom-text {
        line-height: 1.15;
        font-family: museo-sans;
        box-sizing: border-box;
        position: relative;
        top: 0;
        left: 52%;
        width: 47%;
    }
    
    .support-title-bottom-intro {
        line-height: 1.15;
        font-family: museo-sans;
        box-sizing: border-box;
        color: #00accd;
        font-weight: 500;
        margin: 0;
        font-size: 16px;
        text-transform: uppercase;
    }
    
    .support-title-bottom {
        font-family: museo-sans;
        box-sizing: border-box;
        font-weight: 300;
        margin: 10px 0 40px;
        line-height: 1;
        font-size: 38px;
        color: #5b4084;
    }
    
    .support-text-bottom {
        font-family: museo-sans;
        box-sizing: border-box;
        line-height: 1.5;
        margin-bottom: 20px;
        font-weight: 300;
        color: #6f7073;
    }
    
    .last-imagediv {
        line-height: 1.15;
        font-family: museo-sans;
        box-sizing: border-box;
        border-style: none;
        width: 70%;
        height: 50%;
        object-fit: cover;
        margin-top: 100%;
    }
    
    .last-image {
        line-height: 1.15;
        font-family: museo-sans;
        box-sizing: border-box;
        border-style: none;
        width: 40%;
        height: 50%;
        object-fit: cover;
        margin-top: -30%;
    }
    
    .projectsbutton {
        line-height: 1.15;
        font-family: museo-sans;
        box-sizing: border-box;
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        background-color: #a44082;
        color: #FFF;
        font-size: 16px;
        border-radius: 20px;
        text-align: center;
        margin: 20px 0;
        padding: 10px 30px;
        margin-bottom: 0;
    }
    
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: museo-sans;
    }
    
    body {
        background: #ffffff;
    }
    
    section {
        min-height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration-color: #FFF;
    }
    
    section:nth-child(1) {
        color: #fff;
    }
    
    section:nth-child(2) {
        color: #1D212B;
        background: #fff;
    }
    
    section:nth-child(3) {
        color: #fff;
    }
    
    section:nth-child(4) {
        color: #1D212B;
        background: #fff;
    }
    
    section .container {
        margin: 20px;
    }
    
    section h1 {
        font-size: 60px;
    }
    
    section h2 {
        font-size: 40px;
        text-align: center;
        text-transform: uppercase;
    }
    
    section .cards {
        display: flex;
    }
    
    section .cards .text-card {
        background: #a44082;
        margin: 20px;
        padding: 20px;
    }
    
    section .cards .text-card h3 {
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    
    @media (max-width: 900px) {
        section h1 {
            font-size: 40px;
        }
        section .cards {
            flex-direction: column;
        }
    }
    
    .reveal {
        position: relative;
        transform: translateY(150px);
        opacity: 0;
        transition: all 2s ease;
    }
    
    .reveal.active {
        transform: translateY(0px);
        opacity: 1;
    }
    
    .bottomtitle {
        background-color: #3494d9;
    }
    /* footer styling */
    
    @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
    * {
        font-family: Roboto;
    }
    
    .footer-distributed {
        background: #444;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
        width: 100%;
        font: bold 16px sans-serif;
        text-align: left;
        padding: 50px 60px 40px;
        overflow: hidden;
    }
    
    section {
        width: 100%;
        display: inline-block;
        background: rgb(255, 255, 255);
        height: 60vh;
        text-align: center;
        font-size: 22px;
        font-weight: 700;
        text-decoration: underline;
    }
    /* Footer left */
    
    .footer-distributed .footer-left {
        float: left;
    }
    /* The company logo */
    
    .footer-distributed h3 {
        color: #ffffff;
        font: normal 36px 'Roboto', cursive;
        margin: 0 0 10px;
    }
    
    .footer-distributed h3 span {
        color: #5383d3;
    }
    /* Footer links */
    
    .footer-distributed .footer-links {
        color: #ffffff;
        margin: 0 0 10px;
        padding: 0;
    }
    
    .footer-distributed .footer-links a {
        display: inline-block;
        line-height: 1.8;
        text-decoration: none;
        color: inherit;
    }
    
    .footer-distributed .footer-company-name {
        color: #f3f8ff;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }
    /* Footer social icons */
    
    .footer-distributed .footer-icons {
        margin-top: 40px;
    }
    
    .footer-distributed .footer-icons a {
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color: #33383b;
        border-radius: 2px;
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 35px;
        margin-right: 3px;
        margin-bottom: 5px;
    }
    /* Footer Right */
    
    .footer-distributed .footer-right {
        float: right;
    }
    
    .footer-distributed .footer-right p {
        display: inline-block;
        vertical-align: top;
        margin: 15px 42px 0 0;
        color: #ffffff;
    }
    /* The contact form */
    
    .footer-distributed form {
        display: inline-block;
    }
    
    .footer-distributed form input,
    .footer-distributed form textarea {
        display: block;
        border-radius: 3px;
        box-sizing: border-box;
        background-color: #1f2022;
        box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
        border: none;
        resize: none;
        font: inherit;
        font-size: 14px;
        font-weight: normal;
        color: #d1d2d2;
        width: 400px;
        padding: 18px;
    }
    
    .footer-distributed ::-webkit-input-placeholder {
        color: #ffffff;
    }
    
    .footer-distributed ::-moz-placeholder {
        color: #ffffff;
        opacity: 1;
    }
    
    .footer-distributed :-ms-input-placeholder {
        color: #ffffff;
    }
    
    .footer-distributed form input {
        height: 55px;
        margin-bottom: 15px;
    }
    
    .footer-distributed form textarea {
        height: 100px;
        margin-bottom: 20px;
    }
    
    .footer-distributed form button {
        border-radius: 3px;
        background-color: #33383b;
        color: #ffffff;
        border: 0;
        padding: 15px 50px;
        font-weight: bold;
        float: right;
    }
    /* If you don't want the footer to be responsive, remove these media queries */
    
    @media (max-width: 1000px) {
        .footer-distributed {
            font: bold 14px sans-serif;
        }
        .footer-distributed .footer-company-name {
            font-size: 12px;
        }
        .footer-distributed form input,
        .footer-distributed form textarea {
            width: 250px;
        }
        .footer-distributed form button {
            padding: 10px 35px;
        }
    }
    
    @media (max-width: 800px) {
        .footer-distributed {
            padding: 30px;
        }
        .footer-distributed .footer-left,
        .footer-distributed .footer-right {
            float: none;
            max-width: 300px;
            margin: 0 auto;
        }
        .footer-distributed .footer-left {
            margin-bottom: 40px;
        }
        .footer-distributed form {
            margin-top: 30px;
        }
        .footer-distributed form {
            display: block;
        }
        .footer-distributed form button {
            float: none;
        }
    }